{{ define "content" }}

{{ $current := .current }}
{{ $search := .search }} 
{{ $saveData := .saveData }}

<header class="header">
  <h2>Items</h2>
</header>

<div class="item-list">
  {{ range .items }}
  <article class="item-card">
    {{ if not $saveData }}
    <img
      src="/uploads/{{ .ImageUrl }}"
      alt="{{ .Title }}"
      loading="lazy"
      class="item-card__img"
    />
    {{ end }}
    <div class="item-card__content">
      <header class="item-card__header">
        <h3>
          <a class="item-card__title" href="/items/{{ .ID }}">{{ .Title }}</a>
        </h3>
      </header>
      <p class="item-card__price">{{ .Price }}</p>
    </div>
  </article>
  {{ end }}
</div>

<div class="pagination-bar">
  {{ range $p := .pages }} 
    {{ $active := "" }}
    {{ if (eq $current $p) }}
      {{ $active = "page-link--active" }}
    {{ end }}
    <a
      class="page-link {{ $active }}"
      href="/items?search={{ $search }}&page={{ $p }} "
    >
      {{ $p }}
    </a>
  {{ end }}
</div>

{{ end }}
